#fb{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 1%;
}
.w {
    height: 50px;
    width: 50%;
}
.t{
    height: 150px;
    width: 100%;
}
.b{
    height: 50px;
    width: 100%;
}
.c{
background-color: #E91E63;
border:1px solid #03A9F4;
font-size: 30px;
color:rgb(255, 255, 255) ;

}
.c:hover{
    background-color: #FF4081;
    border:5px solid #FFFFFF;
}

.c:focus{
    background-color: #2196F3;
    border:5px solid #E91E63;
}